@{
    Layout = "_BeforeLoginLayout";
}

<div class="form-area">
    <div class="titlebar">
        <h1>Forgot Password Confirmation</h1>
    </div>
    <div class="msg-area">
        <h4>Password reset link has been successfully sent. Please check your email to reset password.</h4>
    </div>
</div>
