@model  Promact.Trappist.DomainModel.ApplicationClasses.Account.ForgotPassword
@{
    Layout = "_BeforeLoginLayout";
}

<div class="form-area frgt-pswd">
    <div class="titlebar">
        <h1>Forgot Password</h1>
    </div>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Provide your Email here" required="" />
            <div class="errors-container">
                <span asp-validation-for="Email" class="error-msg">@ViewBag.Error</span>
            </div>
        </div>
        <div class="actions-area">
            <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
            <a asp-action="Login">Back to Login</a>
        </div>
    </form>
</div>
