<div class="before-login-layout frgt-pswd">
    <div class="content-container">
        <div class="content-box">
            <div class="logo-area">
                <img src="~/images/logo.png" alt="Logo" />
            </div>
            <div class="form-area">
                <div class="titlebar">
                    <h1>Forgot Password</h1>
                </div>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Provide your Email here" />
                    </div>
                    <div class="actions-area">
                        <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
                        <a href="">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>Copyright &copy;2017 Promact Infotech Pvt. Ltd. All Rights Reserved.</footer>
</div>
