<div class="before-login-layout">
    <div class="content-container">
        <div class="content-box">
            <div class="logo-area">
                <img src="~/images/logo.png" alt="Logo" />
            </div>
            <div class="form-area">
                <div class="titlebar">
                    <h1>Forgot Password Confirmation</h1>
                </div>
                <div class="msg-area">
                    <h4>Password reset link has been successfully sent. Please check your email to reset password.</h4>
                </div>
            </div>
        </div>
    </div>
    <footer>Copyright &copy;2017 Promact Infotech Pvt. Ltd. All Rights Reserved.</footer>
</div>
