@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@{
    Layout = "_BeforeLoginLayout";
}

<div class="form-area">
    <div class="titlebar">
        <h1>Sign In</h1>
    </div>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="actions-area">
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a href="">Forgot Password?</a>
        </div>
    </form>
</div>
