@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

<div class="before-login-layout">
    <div class="content-container">
        <div class="content-box">
            <div class="logo-area">
                <img src="~/images/logo.png" alt="Logo" />
            </div>
            <div class="form-area">
                <div class="titlebar">
                    <h1>Sign In</h1>
                </div>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="actions-area">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <a href="">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>Copyright &copy;2017 Promact Infotech Pvt. Ltd. All Rights Reserved.</footer>
</div>
