@{
    Layout = "_BeforeLoginLayout";
}

<div class="form-area">
    <div class="titlebar">
        <h1>Forgot Password Confirmation</h1>
    </div>
    <div class="msg-area">
        <h4>Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click Here</a> to sign in.</h4>
    </div>
</div>