@{
    Layout = "_BeforeLoginLayout";
}

<div class="form-area">
    <div class="titlebar">
        <h1>Reset Password</h1>
    </div>
    <form>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" />
        </div>
        <div class="actions-area">
            <button type="submit" class="btn btn-primary mb0">Submit</button>
        </div>
    </form>
</div>
