<div class="test-create-steps test-questions">
  <create-test-header [testDetails]="testDetails"></create-test-header>
  <div class="container">
    <h2>Select questions for each section</h2>
    <md2-accordion class="questions-selection" >
      <md2-accordion-tab class="collapsible-block"  *ngFor="let category of testDetails.categoryAcList; let k=index">
        <md2-accordion-header class="collapsible-header clearfix"  *ngIf="category.isSelect" [class.active]="category.isAccordionOpen" (click)="getAllquestions(category,k)">
          <div class="title-info h2 pull-left">
            <span>{{category.categoryName}}</span>
          </div>
          <div class="pull-right">
            <span class="h7 qs-selected">{{category.numberOfQuestion}} question(s) selected</span>
            <span class="collapsible-icon"><em class="material-icons add-icon">add</em><em class="material-icons remove-icon">remove</em></span>
          </div>
        </md2-accordion-header>
        <div class="collapsible-body p0">
          <div class="select-all">
            <md-checkbox [(ngModel)]="category.selectAll" (change)="SelectAll(category,selectedQuestions[k])"></md-checkbox>
            <h5>Select All</h5>
            <span class="h7">(total {{selectedQuestions[k]}} questions)</span>
          </div>
            <ng-container  *ngFor="let question of category.questionList;let i=index" >
                <div class="qs-container">
                    <md-checkbox [(ngModel)]="question.question.isSelect" (change)="selectQuestion(question,category)"></md-checkbox>
                    <p class="qs-num">Q.{{i+1}}</p>
                    <div class="qs-text">
                        <p class="question" [innerHtml]="question.question.questionDetail"></p>
                        <div *ngFor="let option of question.singleMultipleAnswerQuestion?.singleMultipleAnswerQuestionOption; let j = index">
                            <p *ngIf="QuestionType[question.questionType] != QuestionType[2]" [ngClass]="isCorrectAnswer(option.isAnswer)" class="ans-option"><span>{{optionName[j]}}</span> <span>{{option.option}}</span></p>
                        </div>
                        <div class="mt10">
                            <p class="tags">{{category.categoryName}}</p>
                            <p class="tags">{{DifficultyLevel[question.question.difficultyLevel]}}</p>
                        </div>
                    </div>
                </div>
             </ng-container>
        </div>
      </md2-accordion-tab>
    </md2-accordion>
  </div>
    <create-test-footer  (SaveExit)="SaveExit()" (SaveNext)="SaveNext()"></create-test-footer>
 
</div>
