<div class="test-create-footer clearfix">
  <div class="container">
    <ul class="steps pull-left">
      <li class="h5" [class.active]="router.url==='/tests/'+ testId +'/sections'"><a [routerLink]="['/tests', testId,'sections']">Select Sections</a></li>
      <li class="h5"><em class="material-icons">keyboard_arrow_right</em></li>
      <li class="h5" [class.active]="router.url==='/tests/' + testId + '/questions'"><a [routerLink]="['/tests',testId,'questions']">Select Questions</a></li>
      <li class="h5"><em class="material-icons">keyboard_arrow_right</em></li>
      <li class="h5" [class.active]="router.url==='/tests/'+testId + '/settings'"><a [routerLink]="['/tests',testId,'settings']">Settings & Schedule</a></li>
    </ul>
    <div class="buttons-block pull-right" *ngIf="isTestSection">
      <button type="button" class="btn" (click)="saveSelectedCategoryAndExit()">Save & Exit</button>
      <button type="button" class="btn btn-primary" (click)="saveSelectedCategoryAndMoveNext()">Save & Next</button>
    </div>
    <div class="buttons-block pull-right" *ngIf="isTestQuestion">
      <button type="button" class="btn" (click)="saveAndExit()">Save & Exit</button>
      <button type="button" class="btn btn-primary" (click)="addTestQuestions()">Save & Next</button>
    </div>
    <div class="buttons-block pull-right" *ngIf="isTestSettings">
      <button type="button"  class="btn" [disabled]="settingsForm.invalid || validStartDate || validEndDate || validTime" (click)="updateTestSettings()">Save & Exit</button>
      <button type="button" class="btn btn-primary" *ngIf="(!testDetails.isLaunched && !testDetails.isPaused)"  [disabled]="settingsForm.invalid || validStartDate || validEndDate || validTime" (click)="saveAndLaunchTest()">Save & Launch</button>
        <button type="button" class="btn btn-primary" *ngIf="(testDetails.isLaunched && !testDetails.isPaused)"  (click)="pauseTest()">Pause</button>
        <button type="button" class="btn btn-primary" *ngIf="(testDetails.isPaused && testDetails.isLaunched)" (click)="resumeTest()">Resume</button>
    </div>
  </div>
</div>
