/* Colors */
$color_base: #4D4651;
$color_base_secondary: #8C8C8C;
$color_footer_secondary: #1D1D1D;
$color_theme: #01B9BB;
$color_theme_secondary: #3E9091;
$color_theme_hover: #E4F4F4;
$color_bg: #F9F9F9;
$color_bg_secondary: #F5F5F5;
$color_border: #EDEDED;
$color_white: #FFFFFF;

/* General */
html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: $color_base;
    height: 100%;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
    margin: 0;
}
h1, .h1 {
    font-size: 24px;
}
h2, .h2, h3, .h3 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6, .h7 {
    font-size: 15px;
}
h1, .h1, h2, .h2, h5, .h5 {
    font-weight: 600;
}
h6, .h6 {
    font-weight: 700;
}
.h7 {
    font-style: italic;
}
.tags {
    display: inline-block;
    font-size: 11px;
    color: $color_base_secondary;
    background-color: $color_theme_hover;
    padding: 6px 20px;
    border-radius: 3px;
    margin: 0 5px;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mt10 {
    margin-top: 10px;
}
.p0 {
    padding: 0;
}
.pl0 {
    padding-left: 0;
}
.light-text {
    color: $color_base_secondary;
}
.btn {
    font-size: 13px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid $color_base;
    min-width: 140px;
    padding: 8px;
    &:focus, &:active:focus {
        outline: 0;
    }
    &.btn-primary {
        background-color: $color_theme;
        border-color: $color_theme;
        font-weight: 400;
        &:active:hover, &:active:focus {
            background-color: $color_theme;
            border-color: $color_theme;
        }
    }
    & + .btn {
        margin-left: 10px;
    }
}
.form-control {
    border-color: $color_base_secondary;
    color: $color_base;
    font-size: 13px;
    &:focus {
        box-shadow: none;
        border-color: $color_theme;
    }
}
.cdk-overlay-pane {
    .mat-menu-panel {
        min-width: 100px;
        .mat-menu-content {
            padding: 5px 0;
            .mat-menu-item {
                font-size: 13px;
                font-family: 'Open Sans', sans-serif;
                line-height: inherit;
                height: inherit;
                padding: 6px 30px 6px 16px;
                color: $color_base;
                &:hover, &:focus {
                    background-color: $color_theme_hover;
                    text-decoration: none;
                }
                i {
                    vertical-align: top;
                    padding-right: 5px;
                    font-size: 18px;
                }
            }
        }
    }
    .mat-dialog-container {
        width: 600px;
        background-color: $color_bg;
        border-radius: 5px;
        padding: 15px 25px 20px;
        .dialog {
            .dialog-title {
                margin: 0 -25px;
                border-bottom: 1px solid $color_border;
                padding: 0 14px 12px 25px;
                button {
                    padding: 0;
                    background-color: transparent;
                    border: 0;
                    color: $color_base_secondary;
                    &:hover {
                        color: $color_base;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }
            .dialog-body {
                padding: 25px 0 36px;
                .form-group {
                    label {
                        font-weight: 400;
                        padding-bottom: 10px;
                    }
                }
            }
            .dialog-actions {
                text-align: right;
            }
        }
    }
}

/* Layout */
.main-page, .basic-setup {
    height: 100%;
    overflow: auto;
}
.navbar {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $color_border;
    background-color: $color_white;
    margin-bottom: 0;
    .navbar-brand {
        height: 60px;
        padding: 18px 15px;
        margin-right: 36px;
    }
    .navbar-nav {
        li {
            a {
                color: $color_base;
                text-transform: uppercase;
                padding: 20px;
                min-width: 180px;
                text-align: center;
                &:hover, &:focus {
                    color: $color_base;
                    background-color: $color_theme_hover;
                }
            }
            &.active {
                a, a:hover, a:focus {
                    background-color: $color_theme;
                    color: $color_white;
                }
            }
        }
        &.navbar-right {
            margin-right: -25px;
            li i {
                padding: 14px 10px;
                font-size: 32px;
                cursor: pointer;
            }
        }
    }
}
footer {
    background-color: $color_base;
    color: $color_white;
    text-align: center;
    padding: 20px 0;
}
.main-content {
    min-height: 520px;
    padding: 20px 0;
    background-color: $color_bg;
    .title-area {
        margin: 20px 0 30px;
        h1 {
            text-transform: uppercase;
        }
        .search-area {
            input {
                border: 0;
                border-bottom: 2px solid $color_base;
                padding: 3px;
                background-color: transparent;
                &:focus {
                    outline: 0;
                }
            }
            button {
                padding: 0;
                border: 0;
                background-color: transparent;
                vertical-align: middle;
                &:focus {
                    outline: 0;
                }
            }
        }
    }
}

/* Before Login Layout */
.before-login-layout {
    .content-container {
        height: 100vh;
        padding-bottom: 80px;
        background-color: $color_bg;
        .content-box {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 600px;
            margin: 0 auto;
            .form-area {
                background-color: $color_white;
                border: 1px solid $color_border;
                border-radius: 5px;
                margin-top: 30px;
                .titlebar {
                    background-color: $color_theme;
                    color: $color_white;
                    padding: 15px 0;
                    border-radius: 5px 5px 0 0;
                }
                form {
                    padding: 36px 20px;
                    .actions-area {
                        .btn {
                            padding: 8px 50px;
                            margin: 25px auto;
                            display: block;
                        }
                        a {
                            color: $color_theme;
                            line-height: 19px;
                        }
                    }
                }
                .msg-area {
                    padding: 30px 20px 50px;
                    text-align: left;
                    h4 {
                        line-height: 20px;
                        a {
                            color: $color_theme;
                        }
                    }
                }
            }
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Forgot Password */
.before-login-layout .content-container .content-box .form-area.frgt-pswd form .actions-area a {
    line-height: 18px;
}

/* User Profile */
.userprofile {
    .title-area h1 a {
        display: inline-block;
        vertical-align: middle;
        color: $color_base_secondary;
        padding-left: 15px;
    }
    .fields-box {
        background-color: $color_white;
        border: 1px solid $color_border;
        padding: 15px;
        margin-bottom: 40px;
        p {
            margin-bottom: 25px;
            span {
                display: inline-block;
                width: 180px;
            }
            &.cp-dialog-link {
                display: inline-block;
                color: $color_theme;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .form-group {
            margin-bottom: 20px;
            label {
                margin-bottom: 10px;
            }
            .form-control {
                width: 50%;
            }
        }
        .actions-area {
            text-align: right;
            margin: 50px 15px 0 0;
        }
    }
}

/* Tests Dashboard */
.tests-dashboard {
    .blocks-area {
        .row {
            margin: 0 -10px;
        }
        .create-test-block {
            margin-bottom: 20px;
            height: 216px;
            border: 2px dashed;
            padding: 30px 0;
            text-align: center;
            color: $color_theme;
            cursor: pointer;
            i {
                font-size: 100px;
                margin-bottom: 20px;
            }
        }
        .test-block {
            background-color: $color_white;
            border: 1px solid $color_border;
            padding: 15px;
            margin-bottom: 20px;
            .test-title {
                i {
                    margin-right: -10px;
                    color: $color_base_secondary;
                    cursor: pointer;
                }
            }
            .test-details {
                margin: 40px 0 20px;
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

/* 5 Column Layout */
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }
.col-xs-5ths { width: 20%; float: left; }

@media (min-width: 768px) {
    .col-sm-5ths { width: 20%; float: left; }
}
@media (min-width: 992px) {
    .col-md-5ths { width: 20%; float: left; }
}
@media (min-width: 1200px) {
    .col-lg-5ths { width: 20%; float: left; }
}

/* Questions Dashboard */
.questions-dashboard {
    .main-block {
        border: 1px solid $color_border;
        position: relative;
        .block-title {
            h2 {
                text-transform: uppercase;
                font-weight: 700;
                line-height: 24px;
            }
            i {
                color: $color_base_secondary;
                cursor: pointer;
                &:hover, &:focus {
                    color: $color_base;
                }
            }
        }
        .category-block {
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: $color_bg_secondary;
            border-right: 1px solid $color_border;
            padding: 0;
            .block-title {
                padding: 14px 8px 12px 12px;
                border-bottom: 1px solid $color_border;
            }
            .category-list {
                list-style: none;
                padding-left: 0;
                margin-top: 5px;
                li {
                    display: block;
                    padding: 8px 6px 8px 12px;
                    height: 40px;
                    line-height: 24px;
                    cursor: pointer;
                    i {
                        color: $color_base_secondary;
                        &:hover, &:focus {
                            color: $color_base;
                        }
                    }
                    &:hover {
                        background-color: $color_theme_hover;
                    }
                    &.active {
                        background-color: $color_theme;
                        color: $color_white;
                        i {
                            color: $color_white;
                        }
                    }
                }
            }
        }
        .questions-block {
            min-height: 500px;
            padding: 0;
            .block-title {
                padding: 14px 25px 12px;
            }
            .block-subtitle {
                border-bottom: 1px solid $color_border;
                padding: 0 15px 0 10px;
                .difficulty-levels {
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    li {
                        display: inline-block;
                        padding: 12px 15px;
                        cursor: pointer;
                        border-bottom: 3px solid transparent;
                        &.active {
                            color: $color_theme;
                            border-color: $color_theme;
                        }
                    }
                }
                .btn-link {
                    padding: 3px 6px 12px 6px;
                    color: $color_theme;
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        outline: 0;
                        text-decoration: none;
                    }
                    i {
                        vertical-align: text-bottom;
                    }
                }
            }
            .questions-area {
                .qs-block {
                    .pull-left {
                        width: 90%;
                    }
                    padding: 25px 10px 15px 25px;
                    border-bottom: 1px solid $color_border;
                    .qs-container {
                        .qs-num {
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 20px;
                        }
                        .qs-text {
                            display: inline-block;
                            width: 85%;
                            .ans-option {
                                margin-bottom: 5px;
                                span {
                                    display: inline-block;
                                    vertical-align: top;
                                    &:first-child {
                                        margin-right: 5px;
                                        width: 15px;
                                    }
                                    &:last-child {
                                        width: 90%;
                                    }
                                }
                                &.correct {
                                    color: $color_theme;
                                }
                            }
                        }
                    }
                }
                i {
                    color: $color_base_secondary;
                    cursor: pointer;
                    &:hover, &:focus {
                        color: $color_base;
                    }
                }
            }
        }
    }
}

/* Single & Multiple Answers */
.simple-ans {
    border: 1px solid $color_border;
    background-color: $color_white;
    .header {
        background-color: $color_bg_secondary;
        border-bottom: 1px solid $color_border;
        padding: 16px 30px;
        h2 {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 700;
        }
        h5 {

        }
    }
    .form-fields {
        padding: 20px 30px;
        .form-group {
            &.answer-choices {
                margin: 32px 0;
                .mat-radio-button {
                    .mat-ripple-element { 
                        background-color: rgba(1, 185, 187, 0.1); 
                    }
                    &.mat-radio-checked {
                        .mat-radio-outer-circle {
                            border-color: $color_theme;
                        }
                    }
                    display: block;
                    width: 54%;
                    .mat-radio-label {
                        align-items: center;
                        margin-bottom: 15px;
                        width: 100%;
                        .mat-radio-container {
                            top: 0;
                            height: 16px;
                            width: 16px;
                            .mat-radio-outer-circle {
                                border-color: $color_base_secondary;
                                height: 16px;
                                width: 16px;
                            }
                            .mat-radio-inner-circle {
                                background-color: $color_theme;
                                height: 16px;
                                width: 16px;
                            }
                        }
                        .mat-radio-label-content {
                            padding-left: 15px;
                            width: 100%;
                            .form-control {
                                display: inline-block;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                width: 92%;
                            }
                            i {
                                vertical-align: middle;
                                color: $color_base_secondary;
                                font-size: 16px;
                                &:hover {
                                    color: $color_base;
                                }
                            }
                        }
                    } 
                }
                .mat-checkbox {
                    .mat-ripple-element { 
                        background-color: rgba(1, 185, 187, 0.1); 
                    }
                    &.mat-checkbox-checked {
                        .mat-checkbox-background {
                            background-color: $color_theme;
                        }
                    }
                    display: block;
                    width: 54%;
                    .mat-checkbox-layout {
                        margin-bottom: 15px;
                        width: 100%;
                        .mat-checkbox-inner-container {
                            margin: auto;
                            width: 16px;
                            height: 16px;
                            .mat-checkbox-frame {
                                border-color: $color_base_secondary;
                            }
                        }
                        .mat-checkbox-label {
                            width: 100%;
                            padding-left: 15px;
                            .form-control {
                                display: inline-block;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                width: 92%;
                            }
                            i {
                                vertical-align: middle;
                                color: $color_base_secondary;
                                font-size: 16px;
                                &:hover {
                                    color: $color_base;
                                }
                            }
                        }
                    }
                }
                .tip {
                    font-weight: 600;
                    margin-left: 30px;
                }
            }
        }
        .form-inline {
            margin-left: 30px;
            .form-control {
                width: 100%;
            }
        }
    }
    .actions-area {
        padding: 20px 30px;
        text-align: right;
        border-top: 1px solid $color_border;
    }
}

/* Basic Setup */
.basic-setup {
    background-color: $color_bg;
    .setup-content {
        min-height: 450px;
        width: 800px;
        margin: 80px auto;
        .logo-area {
            text-align: center;
            margin-bottom: 50px;
        }
        .wizard-area {
            .card {
                .card-header {
                    background-color: transparent;
                    .nav {
                        width: 550px;
                        margin: auto;
                        .nav-item {
                            border: 0;
                            padding: 0;
                            cursor: default;
                            a {
                                cursor: default;
                                color: $color_base;
                                font-size: 15px;
                                padding: 0;
                                width: 30px;
                                height: 30px;
                                border: 1px solid $color_base_secondary;
                                line-height: 26px;
                                border-radius: 50%;
                                background-color: $color_white;
                                margin: auto;
                                position: static;
                                &:before, &:after {
                                    display: block;
                                    position: absolute;
                                    top: 14px;
                                    left: 106px;
                                    width: 100%;
                                    height: 2px;
                                    content: '';
                                    background-color: $color_base_secondary;
                                }
                                &:hover, &:focus {
                                    background-color: $color_white;
                                }
                            }
                            &:last-child {
                                a:before, a:after {
                                    display: none;
                                }
                            }
                            &.enabled {
                                a {
                                    background-color: $color_theme;
                                    color: $color_white;
                                }
                            }
                            &.active {
                                a {
                                    background-color: $color_base_secondary;
                                    color: $color_white;
                                }
                            }
                        }
                    }
                }
                .card-block {
                    margin-top: 30px;
                    background-color: $color_white;
                    border: 1px solid $color_border;
                    border-bottom: 0;
                    padding: 30px 20px 15px;
                    h2 {
                        margin-bottom: 25px;
                    }
                    .form-group {
                        margin-bottom: 30px;
                        label {
                            margin-bottom: 10px;
                        }
                        .form-control {
                            width: 74%;
                            &[type=number] {
                                width: 22%;
                            }
                        }
                        .help-text {
                            margin-top: 12px;
                        }
                    }
                }
                .card-footer {
                    padding: 0 20px 20px;
                    text-align: right;
                    border: 1px solid $color_border;
                    border-top: 0;
                    &[hidden] {
                        display: block;
                    }
                    .btn[hidden] {
                        display: none;
                    }
                    .btn {
                        &:first-child {
                            
                        }
                        &:nth-child(2) {
                            background-color: $color_theme;
                            border-color: $color_theme;
                            color: $color_white;
                        }
                        &:last-child {
                            background-color: $color_theme;
                            border-color: $color_theme;
                            color: $color_white;
                            text-indent: -9999px;
                            line-height: 0;
                            &:after {
                                display: block;
                                content: 'Finish';
                                text-indent: 0;
                                line-height: 1.42857143;
                            }
                        }
                    }
                }
            }
        }
    }
}
