<div class="loader-container" *ngIf="loader">
    <div class="spinner">
    </div>
</div>
<div class="dialog">
    <div class="dialog-title clearfix">
        <h1 class="pull-left" md-dialog-title>Change Password</h1>
        <button type="button" class="pull-right" md-dialog-close><em class="material-icons">close</em></button>
    </div>
    <form (ngSubmit)="changePassword(user)" #passwordForm="ngForm">
        <md-dialog-content>
            <div class="form-group">
                <label>Current Password</label><em class="danger-text h4">*</em>
                <input type="password" class="form-control" [(ngModel)]="user.oldPassword" name="oldpassword" #oldpassword="ngModel" required (ngModelChange)="changeCurrentPassword()" />
                <div class="errors-container">
                    <span *ngIf='oldpassword.errors && (oldpassword.dirty || oldpassword.touched) && oldpassword.errors.required' class='error-msg'>Please enter your current password.</span>
                    <span class='error-msg' *ngIf="errorCorrection">{{errorMesseage}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>New Password</label><em class="danger-text h4">*</em>
                <input required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,14}$" type="password" class="form-control" [(ngModel)]="user.newPassword" name="newpassword" #newpassword="ngModel" />
                <div class="errors-container">
                    <span *ngIf='newpassword.errors && newpassword.errors.required && newpassword.dirty && !newpassword.valid' class='error-msg'>Please enter your new password.</span>
                    <span *ngIf='newpassword.errors && newpassword.errors.pattern && !newpassword.valid' class='error-msg'>Password must be alphanumeric including at least 1 uppercase letter,1 lowercase letter and a special character with 8 to 14 characters.</span>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label><em class="danger-text h4">*</em>
                <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmpassword" #confirmpassword="ngModel" required (ngModelChange)="changeCurrentPassword()" />
                <div class="errors-container">
                    <span *ngIf='confirmpassword.errors && confirmpassword.dirty && !newpassword.valid' class='error-msg' [hidden]='!confirmpassword.errors.required'>Please retype the new password.</span>
                    <span class='error-msg' *ngIf="!isPasswordSame">New password and confirm password do not match</span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button type="button" class="btn" md-dialog-close>Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.form.valid">Save</button>
        </md-dialog-actions>
    </form>
</div>
