<div class="dialog">
    <div class="dialog-title clearfix">
        <h1 class="pull-left" md-dialog-title>Change Password</h1>
        <button type="button" class="pull-right" md-dialog-close><em class="material-icons">close</em></button>
    </div>
    <form (ngSubmit)="changePassword(user)" #passwordForm="ngForm">
        <md-dialog-content>
            <div class="form-group">
                <label class="h4">Current Password</label>
                <input type="password" class="form-control" [(ngModel)]="user.oldPassword" name="oldpassword" #oldpassword="ngModel" required (ngModelChange)="changeCurrentPassword()" />
                <div class="errors-container">
                    <span *ngIf='oldpassword.errors && (oldpassword.dirty || oldpassword.touched) && !oldpassword.errors.required' class='error-msg'>Please enter your current password</span>
                    <span class='error-msg' *ngIf="errorCorrection">{{errorMesseage}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="h4">New Password</label>
                <input type="password" class="form-control" [(ngModel)]="user.newPassword" name="newpassword" #newpassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!_%*#?&])[A-Za-z\d@$!_%*#?&]{8,14}$" required />
                <div class="errors-container">
                    <span *ngIf='newpassword.errors && newpassword.errors.required && newpassword.touched && !newpassword.valid' class='error-msg'>Please enter new password</span>
                    <span *ngIf="newpassword.errors && newpassword.touched && newpassword.errors.pattern && !newpassword.valid" class="error-msg">Password must be alphanumeric including at least 1 uppercase letter and a special character with 8 to 14 characters</span>
                </div>
            </div>
            <div class="form-group">
                <label class="h4">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmpassword" #confirmpassword="ngModel" required (ngModelChange)="changeCurrentPassword()" />
                <div class="errors-container">
                    <span *ngIf='confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched) && !newpassword.valid' class='error-msg' [hidden]='!confirmpassword.errors.required'>Please retype the new password</span>
                    <span class='error-msg' *ngIf="!isPasswordSame">New password and confirm password do not match</span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button type="button" class="btn" md-dialog-close>Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.form.valid" (click)="changePassword(user)">Save</button>
        </md-dialog-actions>
    </form>
</div>
