<div class="loader-container" *ngIf="loader">
    <div class="spinner">
    </div>
</div>
<div class="container" *ngIf="!loader">
    <div class="userprofile">
        <div class="title-area mb20">
            <h1>Profile <a href="#" [routerLink]="['edit']"><em class="material-icons">mode_edit</em></a></h1>
        </div>
        <div class="fields-box">
            <p><span class="font-semibold">Name</span> {{user.name}}</p>
            <p><span class="font-semibold">Email</span> {{user.email}}</p>
            <p><span class="font-semibold">Contact Number</span> {{user.phoneNumber}}</p>
            <p><span class="font-semibold">Organization</span> {{user.organizationName}}</p>
            <p class="h5 cp-dialog-link" (click)="changePasswordDialog()">Change Password</p>
        </div>
    </div>
</div>
