language: csharp
dist: trusty
os: linux
mono: none
dotnet: 1.0.1
node_js:
  - "6"
services:
  - docker
install:
  - dotnet restore ./Trappist/Trappist.sln
script:
  - dotnet build ./Trappist/Trappist.sln
  - dotnet test Trappist/src/Promact.Trappist.Test/Promact.Trappist.Test.csproj
deploy:
  - provider: script
    script: chmod +x $TRAVIS_BUILD_DIR/deploy.sh && sh $TRAVIS_BUILD_DIR/deploy.sh
    skip_cleanup: true
    on:
      branch: master
  - provider: script
    script: chmod +x $TRAVIS_BUILD_DIR/deploy.sh && sh $TRAVIS_BUILD_DIR/deploy.sh
    skip_cleanup: true
    on:
      branch: staging
  - provider: script
    script: chmod +x $TRAVIS_BUILD_DIR/deploy.sh && sh $TRAVIS_BUILD_DIR/deploy.sh
    skip_cleanup: true
    on:
      branch: development
 
