<div class="dialog">
    <div class="dialog-title clearfix">
        <h1 class="pull-left" md-dialog-title></h1>
        <button type="button" class="pull-right" md-dialog-close><em class="material-icons">close</em></button>
    </div>
    <md-dialog-content>
        <div class="mb20">
            <span *ngIf="isQuestionMissing">No questions have been selected for this test. Please add questions to the test. Click
                <a [routerLink]="['/tests',testId,'questions']" (click)="closeDialog()">Select Questions</a></span>
            <span *ngIf="!isQuestionMissing">No sections have been selected for this test. Please add sections to the test. Click 
                <a [routerLink]="['/tests', testId,'sections']" (click)="closeDialog()">Select Sections</a> </span>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button type="button" class="btn" md-dialog-close>Ok</button>        
    </md-dialog-actions>
</div>
