<div class="container">
    <div class="loader-container" *ngIf="loader">
        <div class="spinner"></div>
    </div>
    <div class="tests-dashboard">
        <div class="title-area mb20 clearfix">
            <h1 class="pull-left">Tests</h1>
            <div class="search-area pull-right">
                <input type="text" placeholder="Search tests" [hidden]="!showSearchInput" [(ngModel)]="searchTest" (blur)="showSearchInput = false" />
                <button type="button" (click)="showSearchInput = true"><em class="material-icons">search</em></button>
            </div>
        </div>
        <div class="blocks-area">
            <div class="row">
                <div class="col-md-5ths col-sm-4">
                    <div class="create-test-block" (click)="createTestDialog()">
                        <em class="material-icons">add</em>
                        <h5>Create New Test</h5>
                    </div>
                </div>
                <div *ngFor="let test of Tests | filter: searchTest let i=index">
                    <div class="col-md-5ths col-sm-4">
                        <div class="test-block">
                            <div class="test-title clearfix">
                                <h5 class="pull-left" title="{{test.testName}}">{{test.testName}}</h5>
                                <em class="material-icons pull-right" [mdMenuTriggerFor]="testMenu">more_vert</em>
                                <md-menu #testMenu="mdMenu" [overlapTrigger]="false" x-position="before">
                                    <button md-menu-item [disabled]="!test.isEditTestEnabled" (click)="editTest(test)">Edit</button>
                                    <button md-menu-item (click)="deleteTestDialog(test)">Delete</button>
                                    <button md-menu-item (click)="duplicateTestDialog(test)">Duplicate</button>
                                    <button md-menu-item [routerLink]="[test.id,'settings']">Settings</button>
                                </md-menu>
                            </div>
                            <div class="test-details">
                                <p class="light-text">150 Questions</p>
                                <p class="light-text">3 Sections</p>
                                <p class="light-text">123 Candidates</p>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" [routerLink]="['/reports']">View Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
