<div class="dialog">
    <div class="dialog-title clearfix">
        <h1 class="pull-left" md-dialog-title>Create New Test</h1>
        <button type="button" class="pull-right" md-dialog-close><em class="material-icons">close</em></button>
    </div>
    <md-dialog-content>
        <div class="form-group">
            <label class="h4">Test Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Ex. Software Developer Recruitment Test" [(ngModel)]="testNameReference" #name="ngModel" (ngModelChange)="ChangeError()" required pattern="^[a-zA-Z0-9_@ $#%&*^{}+;:<>()-]*$" maxlength="150" />
            <div class="errors-container">
                <span class="error-msg" *ngIf="name.touched && !name.valid && name.errors.required">Name is required</span>
                <span class="error-msg" *ngIf="name.touched && !name.valid && name.errors.pattern">Enter a valid Test Name</span>
                <span class="error-msg" *ngIf="errorMessage">Test with this name already exists</span>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button type="button" class="btn" md-dialog-close>Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="AddTest(testNameReference)">Create Test</button>
    </md-dialog-actions>
</div>
