<div class="container">
    <div class="question-type programming">
        <div class="header">
            <h2>Question</h2>
            <h5>Programming</h5>
        </div>
        <div class="loader-container" *ngIf="!(isCategoryReady && isLanguageReady) || isFormSubmitted">
            <div class="spinner">
            </div>
        </div>
        <form #codeSnippetForm="ngForm" *ngIf="(isCategoryReady && isLanguageReady)" (ngSubmit)="addCodingQuestion(codeSnippetForm.valid)">
            <div class="form-fields">
                <div class="form-group">
                    <label class="h4">Section</label>
                    <select class="form-control width-percent-60" id="categorySelect" (change)="selectCategory($event.target.value)" ngModel required name="categorySelect" #categorySelect="ngModel">
                        <option [disabled]="categorySelect.dirty" selected value="">Please select a category</option>
                        <option *ngFor="let category of categoryList">{{category.categoryName}}</option>
                    </select>
                    <div class="errors-container">
                        <div *ngIf="categorySelect.errors">
                            <div *ngIf="(categorySelect.dirty || categorySelect.touched)">
                                <span class="error-msg">Please select a category</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="h4">Difficulty Level</label>
                    <select class="form-control small-width" name="difficulty" (change)="selectDifficulty($event.target.value)">
                        <option selected>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                    <div class="errors-container"></div>
                </div>
                <div class="form-group">
                    <label class="h4">Question Details</label>
                    <ckeditor [(ngModel)]="questionModel.question.questionDetail" id="detail" name="detail" #detail="ngModel" required></ckeditor>
                    <div class="errors-container">
                        <div *ngIf="detail.errors && (detail.dirty || detail.touched)">
                            <div [hidden]="!detail.errors.required">
                                <span class="error-msg">Question detail is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="h4">Code Languages</label>
                    <md-chip-list class="form-control width-percent-60" (click)="autocomplete.focus()">
                        <md-chip *ngFor="let selectedLanguage of selectedLanguageList">{{selectedLanguage}}<i class="material-icons" (click)="removeLanguage(selectedLanguage)">close</i></md-chip>
                        <md-input-container>
                            <input mdInput placeholder="Code Languages" [mdAutocomplete]="code" #autocomplete ngModel name="languageInput" #languageInput="ngModel">
                        </md-input-container>
                        <md-autocomplete #code="mdAutocomplete">
                            <md-option *ngFor="let language of codingLanguageList" (click)="selectLanguage(language)">{{language}}</md-option>
                        </md-autocomplete>
                    </md-chip-list>
                    <div class="errors-container">
                        <div *ngIf="nolanguageSelected  && (languageInput.dirty || languageInput.touched)">
                            <span class="error-msg">Please select atleast one programming language</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="h4">Score Settings</label>
                    <md-checkbox [checked]="questionModel.codeSnippetQuestion.checkCodeComplexity" (change)="questionModel.codeSnippetQuestion.checkCodeComplexity = !questionModel.codeSnippetQuestion.checkCodeComplexity">Check code complexity</md-checkbox>
                    <md-checkbox [checked]="questionModel.codeSnippetQuestion.checkTimeComplexity" (change)="questionModel.codeSnippetQuestion.checkTimeComplexity = !questionModel.codeSnippetQuestion.checkTimeComplexity">Check time complexity</md-checkbox>
                    <md-checkbox [checked]="questionModel.codeSnippetQuestion.runBasicTestCase" (change)="questionModel.codeSnippetQuestion.runBasicTestCase = !questionModel.codeSnippetQuestion.runBasicTestCase">Run basic test cases</md-checkbox>
                    <md-checkbox [checked]="questionModel.codeSnippetQuestion.runCornerTestCase" (change)="questionModel.codeSnippetQuestion.runCornerTestCase = !questionModel.codeSnippetQuestion.runCornerTestCase">Run corner test cases</md-checkbox>
                    <md-checkbox [checked]="questionModel.codeSnippetQuestion.runNecessaryTestCase" (change)="questionModel.codeSnippetQuestion.runNecessaryTestCase = !questionModel.codeSnippetQuestion.runNecessaryTestCase">Run necessary test cases</md-checkbox>
                    <div class="errors-container"></div>
                </div>
                <div class="form-group">
                    <label class="h4">Test Case(s)</label>
                    <br />
                    <button type="button" class="btn btn-primary" [hidden]="formControlModel.showTestCase" (click)="formControlModel.showTestCase=true;addTestCases(id)">Add Test Case</button>
                    <md2-accordion >
                        <md2-accordion-tab class="collapsible-block" [hidden]="!formControlModel.showTestCase" *ngFor="let testCase of testCases;let i = index">
                            <md2-accordion-header class="collapsible-header clearfix">
                                <div class="title-info h2 pull-left">
                                    <span>Type:{{testCase.testCaseType}}</span>
                                    <span>Title:{{testCase.testCaseTitle}}</span>
                                    <span>Weightage: {{testCase.testCaseMarks}}</span>
                                </div>
                                <div class="pull-right">
                                    <span class="delete-option h7"><em class="material-icons" (click)="removeTestCases(i)">delete</em> <span>Delete</span></span>
                                    <span class="collapsible-icon"><em class="material-icons add-icon">add</em><em class="material-icons remove-icon">remove</em></span>
                                </div>
                            </md2-accordion-header>
                            <div class="collapsible-body">
                                <div class="form-group">
                                    <label>Test Case Title</label>
                                    <input type="text" [(ngModel)]="testCase.testCaseTitle" class="form-control width-percent-60" required name="title_{{id}}" #title="ngModel"/>
                                    <div class="errors-container">
                                        <div *ngIf="title.errors && (title.dirty || title.touched)">
                                            <p class="text-danger">Test Case Title is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Test Case Description</label>
                                    <textarea  [(ngModel)]="testCase.testCaseDescription" class="form-control width-percent-60" rows="3" required name="description_{{id}}" #description="ngModel"></textarea>
                                    <div class="errors-container">
                                        <div *ngIf="description.errors && (description.dirty || description.touched)">
                                            <p class="text-danger">Test Case Description is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Test Case Type</label>
                                    <select class="form-control width-percent-60" (change)="testCase.testCaseType=$event.target.value"  ngModel required name="type_{{id}}" #type="ngModel">
                                        <option [disabled]="type.dirty" selected value="">Select Option</option>
                                        <option>Default</option>
                                        <option>Basic</option>
                                        <option>Necessary</option>
                                        <option>Corner</option>
                                    </select>
                                    <div class="errors-container">
                                        <div *ngIf="type.errors && (type.dirty || type.touched)">
                                            <p class="text-danger">Test Case Type is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Test Case Marks</label>
                                    <input type="text" [(ngModel)]="testCase.testCaseMarks" class="form-control width-percent-60" placeholder="0" required name="marks_{{id}}" #marks="ngModel" pattern="\d+"/>
                                    <div class="errors-container">
                                        <div *ngIf="marks.errors && (marks.dirty || marks.touched)">
                                            <p class="text-danger" *ngIf="marks.errors.required">Test Case Marks is required</p>
                                            <p class="text-danger" *ngIf="marks.errors.pattern">Please enter number</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Test Case Input Values</label>
                                    <textarea [(ngModel)]="testCase.testCaseInput" class="form-control width-percent-60" rows="3" required name="input_{{id}}" #input="ngModel"></textarea>
                                    <div class="errors-container">
                                        <div *ngIf="input.errors && (input.dirty || input.touched)">
                                            <p class="text-danger">Test Case Input is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Test Case Expected Values</label>
                                    <textarea [(ngModel)]="testCase.testCaseOutput" class="form-control width-percent-60" rows="3" required name="output_{{id}}" #output="ngModel"></textarea>
                                    <div class="errors-container">
                                        <div *ngIf="output.errors && (output.dirty || output.touched)">
                                            <p class="text-danger">Test Case Output is required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md2-accordion-tab>
                    </md2-accordion>
                    <button type="button" class="add-testcase-btn h2" [hidden]="!formControlModel.showTestCase" (click)="formControlModel.showNewTestCase=true;addTestCases(id)">Add New Test Case</button>
                </div>
            </div>
            <div class="actions-area">
                <button type="button" class="btn" [routerLink]="['/questions']">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="!codeSnippetForm.valid || nolanguageSelected > 0">Save</button>
            </div>
        </form>
    </div>
</div>
