@{
    ViewBag.BaseHref = "/conduct/" + ViewBag.Link;
}

<conduct>
    <div class="loader-container main-loader">
        <div class="loader-block">
            <div class="spinner"></div>
            <p class="font-semibold mt10">Loading...</p>
        </div>
    </div>
</conduct>

<script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

<environment names="Development">
    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/main.conduct.js"></script>
</environment>

<environment names="Staging,Production">
    <script>window.module = "aot";</script>
    <script src="/dist/shims.js"></script>
    <script src="/dist/app.conduct.bundle.js"></script>
</environment>
