@{
    ViewBag.BaseHref = "/conduct/" + ViewBag.Link;
}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<conduct>
    <div class="loader-container main-loader">
        <div class="loader-block">
            <div class="spinner"></div>
            <p class="font-semibold mt10">Loading...</p>
        </div>
    </div>
</conduct>

<environment names="Development">
    <script type="text/javascript" src="~/dist/polyfill.bundle.js"></script>
    <script type="text/javascript" src="~/dist/main.conduct.bundle.js"></script>
    <script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
</environment>

<environment names="Staging,Production">
    <script>window.module = "aot";</script>
    <script src="/dist/shims.js"></script>
    <script src="/dist/app.conduct.bundle.js"></script>
</environment>
