@{
        ViewBag.BaseHref = "/conduct/" + ViewBag.Link;

}

<conduct>

    <div class="loader-container main-loader">
        <div class="loader-block">
            <div class="spinner"></div>
            <p class="font-semibold mt10">Loading...</p>
        </div>
    </div>
</conduct>

<script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

<environment names="Development">
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/screenfull/dist/screenfull.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>
    <script src="/node_modules/@@aspnet/signalr-client/dist/browser/signalr-clientES5-1.0.0-alpha1-final.js"></script>
    <script>
        System.import('/app/main.conduct.js').catch(function (err) { console.error(err); });
    </script>
</environment>

<environment names="Staging,Production">
    <script>window.module = "aot";</script>
    <script src="/dist/shims.js"></script>
    <script src="/dist/app.conduct.bundle.js"></script>
</environment>
