@{
    ViewBag.BaseHref = "/";
}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<app>
    <div class="loader-container main-loader">
        <div class="loader-block">
            <div class="spinner"></div>
            <p class="font-semibold mt10">Loading...</p>
        </div>
    </div>
</app>
<form asp-controller="Profile" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right"></form>

<script type="text/javascript" src="~/dist/polyfill.bundle.js"></script>
<script type="text/javascript" src="~/dist/main.bundle.js"></script>
<script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
