@{
    ViewBag.BaseHref = "/";
}

<app>
    <div class="loader-container main-loader">
        <div class="loader-block">
            <div class="spinner"></div>
            <p class="font-semibold mt10">Loading...</p>
        </div>
    </div>
</app>
<form asp-controller="Profile" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right"></form>
<environment names="Development">
    <script src="polyfill.bundle.js"></script>
    <script src="main.bundle.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="polyfill.bundle.js"></script>
    <script src="main.bundle.js"></script>
</environment>
