@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <title>Trappist</title>

    <!--TODO: Copy to local maybe-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #4D4651;
            height: 100vh;
        }
        .page-not-found {
            position: relative;
            top: 50%;
            margin-top: -150px;
            text-align: center;
        }
        .page-not-found em {
            font-size: 120px;
        }
        .page-not-found h1 {
            font-size: 50px;
            font-weight: 600;
            margin: 10px 0;
        }
        .page-not-found h2 {
            color: #8c8c8c;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .page-not-found p {
            margin-bottom: 5px;
        }
        .page-not-found p a {
            text-decoration: none;
            color: #01B9BB;
            font-weight: 600;
        }
        .page-not-found p a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="page-not-found">
        <em class="material-icons">sentiment_very_dissatisfied</em>
        <h1>404</h1>
        <h2>Page not found</h2>
        <p>The page you are looking for doesn't exist or an other error occured.</p>
        <p><a href="">Go back</a>, or head over to <a href="">trappist.com</a> to choose a new direction.</p>
    </div>
</body>
</html>
