@{
    ViewBag.BaseHref = "/setup";
}

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<setup>
    <div e2e="progress-loader" class="loader-container main-loader">
        <div class="loader-block">
            <div class="spinner"></div>
            <p class="font-semibold mt10">Loading...</p>
        </div>
    </div>
</setup>

<environment names="Development">
    <script src="http://localhost:4200/runtime.js"></script>
    <script src="http://localhost:4200/polyfills.js"></script>
    <script src="http://localhost:4200/main.js"></script>
    <link href="http://localhost:4200/styles.css" rel="stylesheet" />
</environment>
<environment names="Staging,Production">
    <script src="@Configuration.GetSection("CdnUrl").Value/dist_setup/inline.bundle.js"></script>
    <script src="@Configuration.GetSection("CdnUrl").Value/dist_setup/polyfills.bundle.js"></script>
    <script src="@Configuration.GetSection("CdnUrl").Value/dist_setup/main.bundle.js"></script>
    <link href="@Configuration.GetSection("CdnUrl").Value/dist_setup/styles.bundle.css" rel="stylesheet" />
</environment>
