<div class="loader-container" *ngIf="loader">
    <div class="spinner"></div>
</div>
<div class="container">
    <div class="question-type">
        <div class="header">
            <h2>Question</h2>
            <h5 *ngIf="isSingleAnswerQuestion">Single Answer Question</h5>
            <h5 *ngIf="!isSingleAnswerQuestion">Multiple Answer Question</h5>
        </div>
        <form (ngSubmit)="saveSingleMultipleAnswerQuestion(singleMultipleAnswerQuestion)" #singleMultipleAnswerQuestionForm="ngForm" onsubmit="saveBtn.disabled = true; editBtn.disabled = true; return true;">
            <div class="form-fields">
                <div class="form-group">
                    <app-tinymce [(ngModel)]="singleMultipleAnswerQuestion.question.questionDetail" id="question" #question="ngModel" name="questionDetail" required></app-tinymce>
                    <div class="errors-container">
                        <span *ngIf="question.dirty && question.invalid" class="error-msg">Required</span>
                    </div>
                </div>
                <div class="form-group answer-choices" *ngIf="isSingleAnswerQuestion">
                    <md-radio-group [(ngModel)]="indexOfOptionSelected" name="first">
                        <md-radio-button value="{{i}}" [disabled]="option.option === undefined || option.option === ''" *ngFor="let option of singleMultipleAnswerQuestion.singleMultipleAnswerQuestion.singleMultipleAnswerQuestionOption;let i = index" [attr.data-index]="i">
                            <input type="text" class="form-control" placeholder="Answer Choice {{i+1}}" #choice="ngModel" [(ngModel)]="option.option" name="optionDetail_{{option.id}}" (keyup)="isTwoOptionsSame(option.option , i)" required />
                            <em class="material-icons" (click)="removeOption(i)" *ngIf="!isClose">close</em>
                            <div class="errors-container">
                                <span *ngIf="choice.touched && choice.invalid " class="error-msg mt9 ml10">Required</span>
                                <span *ngIf="choice.touched && option.isTwoOptionsSame" class="error-msg mt9 ml10">Two options can not be same.</span>
                            </div>
                        </md-radio-button>
                    </md-radio-group>
                    <button type="button" class="btn btn-primary" (click)="addOption()" *ngIf="!isNoOfOptionOverLimit">Add Option</button>
                    <p class="tip">Tip: Click the radio button to mark the correct answer. Minimum 2 options are required and maximum 10 options can be added.</p>
                </div>
                <div class="form-group answer-choices" *ngIf="!isSingleAnswerQuestion">
                    <md-checkbox *ngFor="let option of singleMultipleAnswerQuestion.singleMultipleAnswerQuestion.singleMultipleAnswerQuestionOption;let i = index" [attr.data-index]="i" [(ngModel)]="option.isAnswer" name="first_{{i}}" [disabled]="option.option === undefined || option.option === ''">
                        <input type="text" class="form-control" placeholder="Answer Choice {{i+1}}" id="choice" #choice="ngModel" [(ngModel)]="option.option" name="optionDetail_{{option.id}}" (keyup)="isTwoOptionsSame(option.option, i)" required />
                        <em class="material-icons" (click)="removeOption(i)" *ngIf="!isClose">close</em>
                        <div class="errors-container">
                            <span *ngIf="choice.invalid && choice.touched" class="error-msg mt9 ml10">Required</span>
                            <span *ngIf="choice.touched && option.isTwoOptionsSame" class="error-msg mt9 ml10">Two options can not be same.</span>
                        </div>
                    </md-checkbox>
                    <button type="button" class="btn btn-primary" (click)="addOption()" *ngIf="!isNoOfOptionOverLimit">Add Option</button>
                    <p class="tip">Tip: Click the check boxes to mark the correct answers. Minimum 2 options are required and maximum 10 options can be added.</p>
                </div>
                <div class="form-inline clearfix">
                    <div class="form-group col-md-4 col-sm-4 pl0">
                        <select class="form-control" [ngModel]="categoryName" (change)="getCategoryId($event.target.value)" id="category" #category="ngModel" [ngModelOptions]="{standalone: true}">
                            <option [disabled]="category.dirty || isEditQuestion || isCategorySelected" value="default">Select Category</option>
                            <option *ngFor="let category of categoryArray" [value]="category.categoryName">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-2 pl0">
                        <select name="difficulty" class="form-control" [ngModel]="difficultyLevelSelected" (change)="setDifficultyLevel($event.target.value)" [ngModelOptions]="{standalone:true}" #difficulty="ngModel">
                            <option [disabled]="difficulty.dirty || isEditQuestion || isDifficultyLevelSelected" value="default">Select Difficulty</option>
                            <option *ngFor="let level of difficultyLevel" [value]="level">{{level}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="actions-area">
                <button type="button" class="btn" (click)="cancelButtonClicked()">Cancel</button>
                <button type="submit" *ngIf="!isEditQuestion" class="btn btn-primary" [disabled]="singleMultipleAnswerQuestionForm.invalid || difficultyLevelSelected === 'default' || categoryName === 'default' ||!isOptionSelected() || isTwoOptionSame" id="saveBtn">Save</button>
                <button type="submit" *ngIf="isEditQuestion" class="btn btn-primary" [disabled]="singleMultipleAnswerQuestionForm.invalid || !isOptionSelected()" id="editBtn">Update</button>
            </div>
        </form>

    </div>
</div>
