<div class="container">
    <div class="question-type">
        <div class="header">
            <h2>Question</h2>
            <h5 *ngIf="isSingleAnswerQuestion">Single Answer Question</h5>
            <h5 *ngIf="!isSingleAnswerQuestion">Multiple Answer Question</h5>
        </div>
        <form (ngSubmit)="saveSingleMultipleAnswerQuestion(singleMultipleAnswerQuestion)" #singleMultipleAnswerQuestionForm="ngForm">
            <div class="form-fields">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Question Test" [(ngModel)]="singleMultipleAnswerQuestion.question.questionDetail" id="question" #question="ngModel" [ngModelOptions]="{standalone: true}" required />
                    <div class="errors-container">
                        <span *ngIf="question.invalid && question.touched" class="error-msg">Question field is required</span>
                    </div>
                </div>
                <div class="form-group answer-choices" *ngIf="isSingleAnswerQuestion">
                    <md-radio-group [(ngModel)]= "noOptionSelected" name="first" (ngModelChange)="isRadioButtonSelected=true">
                        <md-radio-button value="{{i}}" [disabled]="choice.pristine && !isEditQuestion" *ngFor="let option of singleMultipleAnswerQuestion.singleMultipleAnswerQuestion.singleMultipleAnswerQuestionOption;let i = index" [attr.data-index]="i" required >
                            <input type="text" class="form-control" placeholder="Answer Choice {{i+1}}" id="choice" #choice="ngModel" [(ngModel)]="option.option" [ngModelOptions]="{standalone: true}" required />
                            <em class="material-icons" (click)="removeOption(i)" *ngIf="!isClose">close</em>
                            <div class="errors-container">
                                <span *ngIf="choice.invalid && choice.touched" class="error-msg mt9 ml10">This field is required</span>
                            </div>
                        </md-radio-button>
                    </md-radio-group>
                    <button type="button" class="btn btn-primary" (click)="addOption()" *ngIf="!isNoOfOptionOverLimit">Add Option</button>
                    <p class="tip">Tip: Click the radio button to mark the correct answer. Minimum 2 options are required and maximum 10 options can be added.</p>
                </div>
                <div class="form-group answer-choices" *ngIf="!isSingleAnswerQuestion">
                    <md-checkbox *ngFor="let option of singleMultipleAnswerQuestion.singleMultipleAnswerQuestion.singleMultipleAnswerQuestionOption;let i = index" [attr.data-index]="i" [(ngModel)]="option.isAnswer" name="first_{{i}}" [disabled]="choice.pristine && !isEditQuestion">
                        <input type="text" class="form-control" placeholder="Answer Choice {{i+1}}" id="choice" #choice="ngModel" [(ngModel)]="option.option" [ngModelOptions]="{standalone: true}" required />
                        <em class="material-icons" (click)="removeOption(i)" *ngIf="!isClose">close</em>
                        <div class="errors-container">
                            <span *ngIf="choice.invalid && choice.touched" class="error-msg mt9 ml10">This field is required</span>
                        </div>
                    </md-checkbox>
                    <button type="button" class="btn btn-primary" (click)="addOption()" *ngIf="!isNoOfOptionOverLimit">Add Option</button>
                    <p class="tip">Tip: Click the check boxes to mark the correct answers. Minimum 2 options are required and maximum 10 options can be added.</p>
                </div>
                <div class="form-inline clearfix">
                    <div class="form-group col-md-4 col-sm-4 pl0">
                        <select class="form-control" [(ngModel)]="categoryName" (change)="getCategoryId()" id="category" #category="ngModel" [ngModelOptions]="{standalone: true}">
                            <option [disabled]="category.dirty || isEditQuestion">Select Category</option>
                            <option *ngFor="let category of categoryArray">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-2 pl0">
                        <select name="difficulty" class="form-control" [(ngModel)]="difficultyLevelSelected" [ngModelOptions]="{standalone:true}" #difficulty="ngModel">
                            <option [disabled]="difficulty.dirty || isEditQuestion" value="default">Select Difficulty</option>
                            <option *ngFor="let level of difficultyLevel">{{level}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="actions-area">
                <button type="button" class="btn" (click)="cancelButtonClicked()">Cancel</button>
                <button type="submit" *ngIf="!isEditQuestion" class="btn btn-primary" [disabled]="singleMultipleAnswerQuestionForm.invalid || difficulty.pristine || category.pristine || !isOptionSelected()">Save</button>
                <button type="submit" *ngIf="isEditQuestion" class="btn btn-primary" [disabled]="singleMultipleAnswerQuestionForm.invalid || !isOptionSelected()">Update</button>
            </div>
        </form>
    </div>
</div>
