<div class="test-create-steps test-sections">
    <create-test-header [testDetails]="testDetails" [testNameReference]="testNameReference"></create-test-header>
    <div class="loader-container" *ngIf="loader">
        <div class="spinner"></div>
    </div>
    <div class="container">
      <span *ngIf="!isEditTestEnabled">You can not edit on going Test. Click
        <a [routerLink]="['/tests',testId,'view']">View Test Details</a> to view the details of the Test.
      </span>
        <h5>Select sections to add in your test</h5>
        <ul class="sections-list">
            <li *ngFor="let categories of testDetails.categoryAcList"
                (click)="onSelect(categories)">
                <label for="{{categories.categoryName}}">
                    <input type="checkbox" id="" [(ngModel)]="categories.isSelect"/>
                    <span class="section-box clearfix">
                        <span class="h4 pull-left">{{categories.categoryName}}</span>
                        <em class="material-icons pull-right">check</em>
                    </span>
                </label>
            </li>
        </ul>
    </div>
    <create-test-footer (SaveCategory)="saveCategoryToExitOrMoveNext($event)"></create-test-footer>
</div>
