<div e2e="progress-loader" class="loader-container" *ngIf="loader">
    <div class="spinner"></div>
</div>
<div class="test-conduct" *ngIf="!loader">
    <test-conduct-header></test-conduct-header>
    <div class="content-block">
        <h2 class="mb30">Test Summary</h2>
        <p e2e="time-left-txt" class="test-info"><span class="h4">Time Left: </span><span class="h2">{{timeString}}</span></p>
        <p class="test-info"><span class="h4">Total Questions: </span><span class="h2">{{totalQuestionsInTest}}</span></p>
        <p class="test-info"><span class="h4">Attempt Summary: </span></p>
        <table>
            <tr>
                <th class="h5">Attempted Questions</th>
                <th class="h5">Not Attempted Questions</th>
                <th class="h5">Questions Marked for Review</th>
            </tr>
            <tr>
                <td e2e="attempted-que-count" class="h2 theme-text">{{numberOfAttemptedQuestions}}</td>
                <td e2e="non-attempted-que-count" class="h2">{{numberOfUnAttemptedQuestions}}</td>
                <td e2e="mark-for-review-que-count" class="h2 yellow-text">{{numberOfReviewedQuestions}}</td>
            </tr>
        </table>
        <div class="text-center" *ngIf="isButtonVisible && !isTestBlocked && !isTestExpired">
            <h5 class="ptb20">Test once ended, cannot be resumed. Are you sure, you want to end your test?</h5>
            <button e2e="back-to-test-btn" type="button" class="btn" (click)="startTest()">Back to Test</button>
            <button e2e="end-test-btn" type="button" class="btn btn-primary" (click)="endTestButtonClicked()">End Test</button>
        </div>
        <div class="text-center" *ngIf="isTestClosedUnConditionally && !isTestBlocked && !isTestExpired">
            <h5 class="ptb20">Test once ended, cannot be resumed. Are you sure, you want to end your test?</h5>
            <button e2e="request-to-resume-btn" class="btn" *ngIf="!isAllowed" [disabled]="disableButton || testAttendee.report.isTestPausedUnWillingly" (click)="sendRequestForResume()">Request to Resume</button>
            <button e2e="back-to-test-btn" type="button" class="btn" *ngIf="isAllowed" (click)="startTest()">Back to Test</button>
            <button e2e="end-test-btn" type="button" class="btn btn-primary" (click)="endYourTest()">End Test</button>
            <br />
            <div class="errors-container">
                <span *ngIf="!isAllowed && !testAttendee.report.isTestPausedUnWillingly" class="error-msg mt20">Please contact the supervisor if you want to resume the test.</span>
                <span *ngIf="testAttendee.report.isTestPausedUnWillingly" class="error-msg mt20">Please refresh this page after the supervisor's instructions.</span>
            </div>
        </div>
        <div class="text-center" *ngIf="isTestBlocked || isTestExpired">
            <h1>Your test is over.</h1>
            <h5 class="mt10 mb20">Thank you for attending the test.</h5>
            <div class="errors-container" *ngIf="isTestBlocked">
                <span class="error-msg">Since you exceeded the limit of browser tolerance, your test has been ended.</span>
            </div>
        </div>
    </div>
    <test-conduct-footer></test-conduct-footer>
</div>
