<div class="loader-container" *ngIf="loader">
    <div class="spinner"></div>
</div>
<div class="test-conduct" *ngIf="!loader">
    <test-conduct-header></test-conduct-header>
    <div class="content-block">
        <h2 class="mb30">Test Summary</h2>
        <p class="test-info"><span class="h4">Time Left: </span><span class="h2">{{timeString}}</span></p>
        <p class="test-info"><span class="h4">Total Questions: </span><span class="h2">{{totalQuestionsInTest}}</span></p>
        <p class="test-info"><span class="h4">Attempt Summary: </span></p>
        <table>
            <tr>
                <th class="h5">Attempted Questions</th>
                <th class="h5">Not Attempted Questions</th>
                <th class="h5">Questions Marked for Review</th>
            </tr>
            <tr>
                <td class="h2 theme-text">{{numberOfAttemptedQuestions}}</td>
                <td class="h2">{{numberOfUnAttemptedQuestions}}</td>
                <td class="h2 yellow-text">{{numberOfReviewedQuestions}}</td>
            </tr>
        </table>
        <div class="text-center" *ngIf="isButtonVisible">
            <h5 class="ptb20">Test once ended, cannot be resumed. Are you sure, you want to end your test?</h5>
            <button type="button" class="btn" (click)="startTest()">Back to Test</button>
            <button type="button" class="btn btn-primary" (click)="endTestButtonClicked()">End Test</button>
        </div>
        <div class="text-center" *ngIf="isTestClosedUnConditionally">
            <h5 class="ptb20">Test once ended, cannot be resumed. Are you sure, you want to end your test?</h5>
            <button class="btn" *ngIf="!isAllowed" [disabled]="disableButton || testAttendee.report.isTestPausedUnWillingly" (click)="sendRequestForResume()">Request to Resume</button>
            <button type="button" class="btn" *ngIf="isAllowed" (click)="startTest()">Back to Test</button>
            <button type="button" class="btn btn-primary" (click)="endYourTest()">End Test</button>
        </div>
        <div class="text-center mt20" *ngIf="isTestClosedUnConditionally && !isAllowed && !testAttendee.report.isTestPausedUnWillingly">
            <div class="errors-container">
                <span class="error-msg">Please contact the supervisor if you want to resume the test.</span>
            </div>
        </div>
        <div class="text-center mt20" *ngIf="isTestClosedUnConditionally && testAttendee.report.isTestPausedUnWillingly">
            <div class="errors-container">
                <span class="error-msg">Please refresh this page after the supervisor's instructions.</span>
            </div>
        </div>
    </div>
    <test-conduct-footer></test-conduct-footer>
</div>
