@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _hostingEnvironment
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trappist</title>

    <!-- Additionals -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">

    <!--CSS-->
    <environment names="Development">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="/dist/styles.bundle.css">
    </environment>
</head>

<body>
    <div class="before-login-layout">
        <div class="content-container">
            <div class="content-box">
                <div>
                    <img src="~/images/logo.png" alt="Logo" />
                </div>
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="container">
                @{
                    var revisionFilePath = System.IO.Path.Combine(_hostingEnvironment.ContentRootPath, ".revision");
                    if (System.IO.File.Exists(revisionFilePath))
                    {
                        var commitId = System.IO.File.ReadAllText(revisionFilePath);
                        <span class="pull-left">Copyright &copy;2017 Promact Infotech Pvt. Ltd. All Rights Reserved.</span>
                        <span class="pull-right"><a target="_blank" href='https://github.com/Promact/trappist/commit/@commitId' style="color: #fff;">Build - @commitId</a></span>
                    }
                    else
                    {
                        <span>Copyright &copy;2017 Promact Infotech Pvt. Ltd. All Rights Reserved.</span>
                    }
                }
            </div>
        </footer>
    </div>
</body>
</html>
