<div class="basic-setup">
    <div class="loader-container" *ngIf="loader">
        <div class="spinner"></div>
    </div>
    <div class="setup-content">
        <div class="logo-area">
            <img src="/images/logo.png" alt="Logo" />
        </div>
        <div class="wizard-area">
            <form-wizard #setup>
                <wizard-step [title]="1">
                    <h2>Setup the Database by providing a connection string</h2>
                    <form #ConnectionStringForm="ngForm">
                        <div class="form-group">
                            <label>Connection String</label>
                            <input required type="text" class="form-control" name="connectionStringName" [(ngModel)]="connectionString.value" #connectionStringName="ngModel" />
                            <div class="errors-container">
                                <span *ngIf="connectionStringName.touched && !connectionStringName.valid && connectionStringName.errors.required" class="error-msg">Required</span>
                                <span class="error-msg" *ngIf="stepOneErrorMessage">Invalid ConnectionString</span>
                            </div>
                        </div>
                        <p class="help-text">format 1: server=servername;database=databasename;integrated security=true</p>
                        <p class="help-text">format 2: server=servername;database=databasename;user id=user id;password=password</p>
                        <div class="action-buttons">
                            <button type="submit" class="btn btn-primary" [disabled]="!ConnectionStringForm.form.valid" (click)="validateConnectionString(setup)">Next</button>
                        </div>
                    </form>
                </wizard-step>
                <wizard-step [title]="2">
                    <h2>Configure Email Settings</h2>
                    <form #EmailSettingsForm="ngForm">
                        <div class="form-group">
                            <label>Server Name</label>
                            <input required type="text" class="form-control" [(ngModel)]="emailSettings.server" name="nameOfServer" #nameOfServer="ngModel" />
                            <div class="errors-container">
                                <span *ngIf="nameOfServer.touched && !nameOfServer.valid && nameOfServer.errors.required" class="error-msg">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Port</label>
                            <input required pattern="[0-9]*" type="text" class="form-control small-width" [(ngModel)]="emailSettings.port" name="portNumber" #portNumber="ngModel" />
                            <div class="errors-container">
                                <span *ngIf="portNumber.touched && !portNumber.valid && portNumber.errors.required" class="error-msg">Required</span>
                                <span *ngIf="portNumber.touched && !portNumber.valid && portNumber.errors.pattern" class="error-msg">Port number should be in digits only</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>User Name</label>
                            <input required type="text" class="form-control" [(ngModel)]="emailSettings.userName" name="usersEmailAddress" #usersEmailAddress="ngModel" />
                            <div class="errors-container">
                                <span *ngIf="usersEmailAddress.touched && !usersEmailAddress.valid && usersEmailAddress.errors.required" class="error-msg">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input required type="password" class="form-control" [(ngModel)]="emailSettings.password" name="userMailPassword" #userMailPassword="ngModel" />
                            <div class="errors-container">
                                <span *ngIf="userMailPassword.touched && !userMailPassword.valid && userMailPassword.errors.required" class="error-msg">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Connection Security</label>
                            <select class="form-control" [(ngModel)]="emailSettings.connectionSecurityOption" name="connectionSecurity">
                                <option value="None">None</option>
                                <option value="SslOnConnect">SSL/TLS</option>
                                <option value="StartTls">STARTTLS</option>
                            </select>
                            <div class="errors-container"></div>
                        </div>
                        <div class="action-buttons">
                            <span class="general-error-msg pull-left" *ngIf="stepTwoErrorMessage">Invalid Email Settings</span>
                            <button type="button" class="btn" (click)="previousStep1(setup)">Previous</button>
                            <button type="submit" class="btn btn-primary" [disabled]="!EmailSettingsForm.form.valid" (click)="validateEmailSettings(setup)">Next</button>
                        </div>
                    </form>
                </wizard-step>
                <wizard-step [title]="3">
                    <h2>Set up Administrator user</h2>
                    <form #CreateUserForm="ngForm">
                        <div class="form-group">
                            <label>Name</label>
                            <input required pattern="^[a-zA-Z_ ]*$" type="text" class="form-control" [(ngModel)]="registrationFields.name" name="usersName" #usersName="ngModel" maxlength="150" />
                            <div class="errors-container">
                                <span *ngIf="usersName.touched && !usersName.valid && usersName.errors.pattern" class="error-msg">Invalid Name</span>
                                <span *ngIf="usersName.touched && !usersName.valid && usersName.errors.required" class="error-msg">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email/User Name</label>
                            <input required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{3}" type="text" class="form-control" [(ngModel)]="registrationFields.email" name="userEmail" #userEmail="ngModel" maxlength="255" />
                            <div class="errors-container">
                                <span *ngIf="userEmail.touched && !userEmail.valid && userEmail.errors.pattern" class="error-msg">Invalid Email Address</span>
                                <span *ngIf="userEmail.touched && !userEmail.valid && userEmail.errors.required" class="error-msg">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,14}$" type="password" class="form-control"
                                   [(ngModel)]="registrationFields.password" name="userPassword" #userPassword="ngModel" />
                            <div class="errors-container">
                                <span *ngIf="userPassword.touched && !userPassword.valid && userPassword.errors.pattern" class="error-msg">Password must be alphanumeric including at least 1 uppercase letter,1 lowercase letter and a special character with 8 to 14 characters.</span>
                                <span *ngIf="userPassword.touched && !userPassword.valid && userPassword.errors.required" class="error-msg">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input required type="password" class="form-control" [(ngModel)]="registrationFields.confirmPassword"
                                   name="userConfirmtionPassword" #userConfirmtionPassword="ngModel" (change)="isValidPassword()" />
                            <div class="errors-container">
                                <span *ngIf="userConfirmtionPassword.touched && !userConfirmtionPassword.valid && userConfirmtionPassword.errors.required" class="error-msg">Required</span>
                                <span class="error-msg" *ngIf="!confirmPasswordValid&&userConfirmtionPassword.touched">New password and Confirm password do not match.</span>
                            </div>
                        </div>
                        <div class="action-buttons">
                            <span class="general-error-msg pull-left" *ngIf="stepThreeErrorMessage">{{exceptionMessage}}</span>
                            <button type="button" class="btn" (click)="previousStep2(setup)">Previous</button>
                            <button type="submit" class="btn btn-primary" [disabled]="!CreateUserForm.form.valid" (click)="createUser(setup)">Finish</button>
                        </div>
                    </form>
                </wizard-step>
            </form-wizard>
        </div>
    </div>
</div>
